
p {
    font-family: 'Julius Sans One', sans-serif;
    color: #efe1b3;
    font-size: 1.45em;
    font-weight: bold;
}

#bioWrap {
    height: 25%;
    width: 30%;
    float: left;
    margin-left: 7%;
    margin-top: 10%
}

#malcolmBear {
    width: 50%;
    margin-left: 7%;
    margin-top: 4%;
}
