
html {
    background: url(Images/leatherbackground2darkened.jpg) #000000 no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#name {
    position: relative;
    font-family: 'Notable', sans-serif;
    font-size: 500%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: -1px -1px 0 white, 1px 1px 0 black, -1px 0 0 white, 1px 0 0 black, 0 3px 4px rgba(192, 192, 192, 0.75), 0 -6px 7px rgba(0, 0, 0, 0.5);
}

#name::before {
    content: "Malcolm" '\A' "Brooks";
    white-space: pre;
    position: absolute;
    color: #efe1b3;
    left: 0;
    right: 0;
    pointer-events: none;
}

#name::after {
    content: "Malcolm" '\A' "Brooks";
    white-space: pre;
    position: absolute;
    color: #525b73;
    left: 0;
    right: 0;
    top: 0;
    -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
    pointer-events: none;
}

#name a{
    text-decoration: none;
}

#contentWrapper {
    width: 75%;
    margin: 0 auto;
}

#navWrap {
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

#navWrap li {
    display: inline-block;
    padding: 8px 32px;
}

#navWrap a:hover {
    color: #ad4345;
    -webkit-transition: color 250ms;
    -moz-transition: color 250ms;
    -o-transition: color 250ms;
}

#navWrap a {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2em;
    color: rgb(192, 192, 192);
    text-decoration: none;
    text-shadow: -1px -1px 0 black, 1px 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 3px 4px rgba(192, 192, 192, 0.5), 0 -6px 7px rgba(0, 0, 0, 0.5);
}

#blurb {
    width: 30%;
    float: right;
    margin-top: 15%;
    margin-right: 15%;
    color: #efe1b3;
    font-size: 125%;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
}

#logo {
    width: 30%;
    margin-left: 17%;
}

.author {
    color: #ad4345;
}
