
ul {
    width: 33%;
    margin: auto;
    text-align: center;
    float: right;
}

li {
    margin-right: 5%;
    display: inline-block;
}

a {
    font-family: 'Julis Sans One', sans-serif;
    font-size: 2em;
    color: rgb(192, 192, 192);
    text-decoration: underline;
    text-shadow: -1px -1px 0 black, 1px 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 3px 4px rgba(192, 192, 192, 0.5), 0 -6px 7px rgba(0, 0, 0, 0.5);
}

p {
    font-family: 'Julius Sans One', sans-serif;
    color: rgb(192, 192, 192);
    font-size: 1.75em;
    font-weight: bold;
}

#bioWrap {
    height: 25%;
    width: 30%;
    float: left;
    margin-left: 10%;
    margin-top: 10%
}

#malcolmBear {
    width: 50%;
    margin-left: 7%;
    margin-top: 2%;
}
