
html {
    background: url(../Images/leatherbackground2edited.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

header {
}

.name {
    width: 82%;
    position: relative;
    font-family: 'Notable', sans-serif;
    font-size: 500%;
    color: transparent;
    margin-left: 18%;
    float: left;
    text-shadow: -1px -1px 0 white, 1px 1px 0 black, -1px 0 0 white, 1px 0 0 black, 0 3px 4px rgba(192, 192, 192, 0.75), 0 -6px 7px rgba(0, 0, 0, 0.5);
}

.name::before {
    content: "Malcolm" '\A' "Brooks";
    white-space: pre;
    text-transform: uppercase;
    position: absolute;
    color: #d3d3d3;
    left: 0;
}

.name::after {
    content: "Malcolm" '\A' "Brooks";
    white-space: pre;
    text-transform: uppercase;
    position: absolute;
    color: #525b73;
    left: 0;
    top: 0;
    -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
}

#logo {
}

#navWrap {
    list-style-type: none;
    margin: 0;
    margin-right: 5%;
    padding: 0;
    height: 50%;
    width: 200px;
    float: right;
}

#navWrap li {
    margin-top: 50px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

#navWrap li:hover {
    margin-right: 15%;
    margin-left: -15%;
}

#navWrap a {
    display: block;
    font-family: 'Julis Sans One', sans-serif;
    font-size: 2em;
    color: rgb(192, 192, 192);
    padding: 8px 16px;
    text-decoration: underline;
    text-align: left;
    text-shadow: -1px -1px 0 black, 1px 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 3px 4px rgba(192, 192, 192, 0.5), 0 -6px 7px rgba(0, 0, 0, 0.5);
}



